<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find quadruped_robots_description)/urdf/spider/legs/leg1.urdf.xacro"/>
  <xacro:include filename="$(find quadruped_robots_description)/urdf/spider/legs/leg2.urdf.xacro"/>
  <xacro:include filename="$(find quadruped_robots_description)/urdf/spider/legs/leg3.urdf.xacro"/>

  <xacro:macro name="leg" params="prefix parent *joint_origin">
    <xacro:leg1 prefix="${prefix}" parent="${parent}">
      <insert_block name="joint_origin"/>
    </xacro:leg1>
    <xacro:leg2 prefix="${prefix}" parent="${prefix}_leg1_link">
      <origin rpy="0 0 0" xyz="0.06 -0.03 0.025"/>
    </xacro:leg2>
    <xacro:leg3 prefix="${prefix}" parent="${prefix}_leg2_link">
      <origin rpy="0 0 0" xyz="0.13 0 0"/>
    </xacro:leg3>
  </xacro:macro>

</robot>
